body, html{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.divesq{ background: #0fe7ca; position: absolute; height: 100%; width: 100%; top: 0vh; right: 80%;}

.divdir{background: #0fe7ca; position: absolute; height: 100%; width: 34%; top: 0vh; right: -10vmax;}




.tipo{position: absolute; width: 22vh;; top: 20vh; right: 60vh;}
.local{position: absolute; width: 25vh; top: 20vh; right: 120vh;}
.dema{position: absolute;  top: 45vh; right: 68vh;}