{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/ipojuca icone.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cadi.css' %}">
    <title>Cadastro</title>
</head>
<body>
   <div class="divesq">
         </div>
         <div class="divdir"> </div>
         
         <form action="" method="get">
            
            <label style="position: absolute; top: 16vh; right: 60vh;" for="Tipo">Tipo de problema:</label><br>
            <select class="tipo" name="TIpo" id="tipo">
                <option value="0">--</option>
                <option value="inte">Internet</option>
                <option value="sol">Solicitação</option>
                <option value="manu">Manutenção</option>
                <option value="out">demais</option>
            </select><br>

            <label style="position: absolute; top: 16vh; right: 123vh;" for="Local"> Local do problema:</label><br>
            <input class="local" type="text" name="LOcal" id="local"><br>
            <label style="position: absolute; top: 42vh; right: 123vh;" for="Demanda">Demanda:</label><br>
            <textarea class="dema" name="DEmanda" id="demanda" cols="60" rows="10" placeholder="Digite qual a sua necessidade"></textarea><br>
        
            





         </form>
</body>
</html>